:root {
    --color-nav: #333;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    font-size: 16px;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625rem;
    font-family: "Oswald", sans-serif;
}

#logo {
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    margin-left: 0.625rem;
}

nav ul li {
    list-style: none;
    display: inline;

    a {
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0.9375rem;
        color: var(--color-nav);
    }
}

nav ul li a:hover {
    background-color: #e50c39;
    color: #fff;
    border-radius: 0.9rem;
}