# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# Ignorar dependencias
node_modules/
vendor/

# Ignorar logs y temporales
*.log
*.tmp

# Ignorar frontend
*.html
*.css
*.js
*.png
*.jpg
*.jpeg
*.gif
*.svg
css/
js/
img/
pages/
docs/
resources/
readme
README.md

# Ignorar base de datos
sql/
